<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uklid.com.pipesurvey" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.WithActionBar" >
    <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".AddActivity"
            android:parentActivityName=".MainActivity"
            android:label="Add Survey">
        </activity>
        <activity android:name=".EditActivity"
            android:parentActivityName=".MainActivity"
            android:label="Edit Survey">
        </activity>
        <provider
            android:authorities="uklid.com.pipesurveys.provider"
            android:name="uklid.com.pipesurvey.PipeSurveysProvider"
            android:exported="true"
            android:readPermission="uklid.com.pipesurveys.READWRITE"
            android:writePermission="uklid.com.pipesurveys.READWRITE"/>

    </application>

</manifest>
